@model IEnumerable<FilmDB.Models.FilmModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a asp-action="Edit" class="btn btn-outline-primary btn-sm" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-outline-info btn-sm" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Remove" class="btn btn-outline-warning btn-sm" asp-route-id="@item.Id">Usuń</a> |
                    <button class="btn btn-outline-success btn-sm" type="button">Button</button> |
                    <button class="btn btn-primary btn-sm" type="button">Button</button>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
